h1{
    color:red;
    background-color:bisque;
    border-top:10px solid rgb(96, 108, 70);
    border-bottom:10px solid green;
    border-left:10px solid yellow;
    border-right:10px solid red; 
    padding: 90px;
    margin: 10px;
    /* top right bottom left*/ 
}
/*Internal CSS Styling*/
                body{
                    background-color: aquamarine;
                }
                img{
                    width: 200px;
                    height: 200px;
                    padding: 150px;
                }