h1{
    color:blueviolet;
    background-color: brown;
    text-align: center;
}
h2{
    color:chocolate;
    background-color:pink;
    text-align: center;
}
a{
    color:red;
    background-color: chartreuse;
}
a:link{color:red}
a:visited{color:yellow}
a:hover{color:rgb(51, 0, 255)}
a:active{color:green}